<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<title>Home</title>
	<!-- Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="../static/css/style.css" rel='stylesheet' type='text/css' />
</head>

<body>
	<h1>用户登录</h1>
	<div class="w3ls-login box">
		<img src="../static/images/logo.png" alt="logo_img" /><!--此处可添加插图-->
		<!-- form starts here -->
		<form action="/home" method="post">
            {% csrf_token %}
			<div class="agile-field-txt">
				<input type="email" name="email" placeholder="邮箱" required="" />
			</div>
			<div class="agile-field-txt">
				<input type="password" name="password" placeholder="密码" required="" id="myInput" />
				<div class="agile_label">
					<input id="check3" name="check3" type="checkbox" value="show password">
					<label class="check" for="check3">记住密码</label>
				</div>
			</div>
			<div class="w3ls-bot">
				<input type="submit" value="登陆"  >
			</div>
		</form>
	</div>
	<!-- //form ends here -->
	<!--copyright-->
	<div class="copy-wthree">
		<p>Copyright &copy; 2018.Genius All rights reserved.<a target="_blank" href="http://www.baidu.com/"></a></p>
	</div>
	<!--//copyright-->
</body>

</html>